.root{
	-fx-font-family:"Arial";
	-fx-focus-color: transparent;
}

.axis {
	-fx-tick-label-font-family: "Arial";
}

.tree-cell:hover {
  -fx-background-color: #0093ff ;
}


.button:hover{
	-fx-background-color: #00CED1 !important;
	-fx-text-alignment: center;
}